h1{
    color: red;
    font-size: 50px;
}

p{
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

ol{
    font-size: 25px;
}

ol:nth-child(n + 1){
    color: brown;
}